In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data')

In [2]:
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [15]:
names=['buying','maint','doors','persons','lug_boot','safety','Class']
data.columns=[i for i in names]
data.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'Class'], dtype='object')

In [16]:
data.buying=data.buying.replace('vhigh',1)
data.buying=data.buying.replace('high',2)
data.buying=data.buying.replace('med',3)
data.buying=data.buying.replace('low',4)
data.buying=data.buying.astype(dtype='i')
data.maint=data.maint.replace('vhigh',1)
data.maint=data.maint.replace('high',2)
data.maint=data.maint.replace('med',3)
data.maint=data.maint.replace('low',4)
data.maint=data.maint.astype(dtype='i')

In [17]:
data.doors=data.doors.replace('5more',5)
data.doors=data.doors.astype(dtype='i')

In [18]:
data.persons=data.persons.replace('more',6)
data.persons=data.persons.astype(dtype='i')
data.lug_boot=data.lug_boot.replace('small',1)
data.lug_boot=data.lug_boot.replace('med',2)
data.lug_boot=data.lug_boot.replace('big',3)
data.lug_boot=data.lug_boot.astype(dtype='i')

In [19]:
data.safety=data.safety.replace('low',1)
data.safety=data.safety.replace('med',2)
data.safety=data.safety.replace('high',3)
data.safety=data.safety.astype(dtype='i')

In [20]:
data.Class=data.Class.replace('unacc',1)
data.Class=data.Class.replace('acc',2)
data.Class=data.Class.replace('good',3)
data.Class=data.Class.replace('vgood',4)
data.Class=data.Class.astype(dtype='i')

In [25]:
x=data.drop(['Class'],axis=1)
y=data['Class']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2)
from sklearn.neighbors import KNeighborsClassifier
algo=KNeighborsClassifier()
algo.fit(x_train,y_train)
print(algo.score(x_test,y_test))

0.959537572254

In [24]:
x

      buying  maint  doors  persons  lug_boot  safety
0          1      1      2        2         1       2
1          1      1      2        2         1       3
2          1      1      2        2         2       1
3          1      1      2        2         2       2
4          1      1      2        2         2       3
5          1      1      2        2         3       1
6          1      1      2        2         3       2
7          1      1      2        2         3       3
8          1      1      2        4         1       1
9          1      1      2        4         1       2
10         1      1      2        4         1       3
11         1      1      2        4         2       1
12         1      1      2        4         2       2
13         1      1      2        4         2       3
14         1      1      2        4         3       1
15         1      1      2        4         3       2
16         1      1      2        4         3       3
17         1      1      2        6         1       1
18         1      1      2        6         1       2
19         1      1      2        6         1       3
20         1      1      2        6         2       1
21         1      1      2        6         2       2
22         1      1      2        6         2       3
23         1      1      2        6         3       1
24         1      1      2        6         3       2
25         1      1      2        6         3       3
26         1      1      3        2         1       1
27         1      1      3        2         1       2
28         1      1      3        2         1       3
29         1      1      3        2         2       1
...      ...    ...    ...      ...       ...     ...
1697       4      4      4        6         3       1
1698       4      4      4        6         3       2
1699       4      4      4        6         3       3
1700       4      4      5        2         1       1
1701       4      4      5        2         1       2
1702       4      4      5        2         1       3
1703       4      4      5        2         2       1
1704       4      4      5        2         2       2
1705       4      4      5        2         2       3
1706       4      4      5        2         3       1
1707       4      4      5        2         3       2
1708       4      4      5        2         3       3
1709       4      4      5        4         1       1
1710       4      4      5        4         1       2
1711       4      4      5        4         1       3
1712       4      4      5        4         2       1
1713       4      4      5        4         2       2
1714       4      4      5        4         2       3
1715       4      4      5        4         3       1
1716       4      4      5        4         3       2
1717       4      4      5        4         3       3
1718       4      4      5        6         1       1
1719       4      4      5        6         1       2
1720       4      4      5        6         1       3
1721       4      4      5        6         2       1
1722       4      4      5        6         2       2
1723       4      4      5        6         2       3
1724       4      4      5        6         3       1
1725       4      4      5        6         3       2
1726       4      4      5        6         3       3

[1727 rows x 6 columns]